/**{
    margin: 0;
    padding: 0;
}*/
body{
    margin-top: 5em;
    padding-top:10px 0;
    padding-bottom:0;
}
header{
    color: #000;
}
nav{
 background-color: #2E9AFE;
 
}
article{
}
nav ul li a{
    color: #fff;
}
#container{
    background-color: #F2F4F4;
    color: #000;
}
footer{
    margin-top: 3em;
	text-align: left;
    background-color: #A5539E;
    height: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.left{
	float: left;
}
.clear{
	clear: both;
}


.text-footer{
    padding: 2em;
    color: #000;
}