*{
 	margin: 0;
}
body{
	padding-top:10px 0;
	
}
header{
	background-color: #73C6B6;
	color: #000;
}
nav{
 background-color: #129793;
 
}
nav ul li a{
	color: #fff;
}
#container{
	background-color: #F2F4F4;
	color: #000;
}
footer{
	background-color: #E57373;
	color: #fff;
}
article{
	background-color: blue;
	color: #fff;
}
aside{
	background-color: green;
	color: #fff;
}
