*{
    margin: 0;
    padding: 0;
}
body{
    padding-top:10px 0;
    padding-bottom:0;
}
header{
    background-color: #E1A4CC;
    color: #000;
}
nav{
 background-color: #E1A4CC;
 
}
nav ul li a{
    color: #fff;
}
#container{
    background-color: #F2F4F4;
    color: #000;
}
footer{
    padding: 1em;
    background-color: #E57373;
    color: #ccc;
}
article{
    background-color: blue;
    color: #fff;
}
aside{
    background-color: green;
    color: #fff;
}
.text-footer{
    padding: 2em;
    color: #ccc;
}
