<div class="row">
    <form class="form-group" method="post" action="?ctl=miPerfil&nav=citasUsuario&agendarCita=true" style="text-align:justify;">
        <div class="col-md-5">
            
            <label for="tratamiento" class="control-label">1.- Seleccione el tratamiento:</label>
        
            <select id="tratamiento" name="tratamiento" class="form-control">
                <option value="1">Limpieza Facial</option>
                <option value="2">Antiacné</option>
                <option value="3">Control de Grasa</option>
                <option value="4">Antiarrugas</option>
                <option value="5">Manchas y Cicatrices</option>
                <option value="6">Desensibilizante</option>
                <option value="7">Remodelado de Silueta</option>
                <option value="8">Anticelulitis</option>
                <option value="9">Antiestrías</option>
                <option value="10">Reafirmante de Senos</option>
                <option value="11">Reductivo y Reafirmante</option>
            </select>

        </div>
        
        <div class="col-md-7">
            <label>2.-Elija fecha y hora:</label>
        </div>
        <div class="col-md-7">
            <div class="col-md-4" id="datepicker"></div>
            <div class="form-group col-md-3">
                <select id="hora" name="hora" class="form-control">
                    <option value="9">9:00 hrs.</option>
                    <option value="10">10:00 hrs.</option>
                    <option value="11">11:00 hrs.</option>
                    <option value="12">12:00 hrs.</option>
                    <option value="13">13:00 hrs.</option>
                    <option value="14">14:00 hrs.</option>
                    <option value="16">16:00 hrs.</option>
                    <option value="17">17:00 hrs.</option>
                    <option value="18">18:00 hrs.</option>
                </select>
            </div>
        </div>

        <div class="col-md-5">
            <br />
            <br />
            <br />
            <br />
            <input id="tomaFecha" type="hidden" name="fecha" value="">
            <button type="submit" class="btn btn-default btn-lg btn-block" onclick="validaAgendarCitaUsuario()">Agendar Cita</button>
        </div>

    </form>
</div>