<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" id="tratamiento"><h4>1.- Seleccione el tratamiento:</h4></label>
        </div>

        <div class="form-group">
            <h4>Tratamientos Faciales</h4>
            <label for="facial" class="radio">
                <input  name="tratamiento" id="facial" type="radio" />Limpieza Facial
            </label>

            <label for="antiacne" class="radio">
                <input  name="tratamiento" id="antiacne" type="radio" />Tratamiento Antiacné
            </label>

            <label for="controlGrasa" class="radio">
                <input  name="tratamiento" id="controlGrasa" type="radio" />Control de Grasa
            </label>

            <label for="antiarrugas" class="radio">
                <input  name="tratamiento" id="antiarrugas" type="radio" />Tratamiento Antiarrugas
            </label>

            <label for="manchasCicatrices" class="radio">
                <input  name="tratamiento" id="manchasCicatrices" type="radio" />Manchas y Cicatrices
            </label>

            <label for="desensibilizante" class="radio">
                <input  name="tratamiento" id="desensibilizante" type="radio" />Tratamiento Desensibilizante
            </label>

            <br />
            <h4>Tratamientos Corporales</h4>
            <label for="remodeladoSilueta" class="radio">
                <input  name="tratamiento" id="remodeladoSilueta" type="radio" />Tratamiento Antiacné
            </label>

            <label for="anticelulitis" class="radio">
                <input  name="tratamiento" id="anticelulitis" type="radio" />Tratamiento Anticelulitis
            </label>

            <label for="antiestrias" class="radio">
                <input  name="tratamiento" id="antiestrias" type="radio" />Tratamiento Antiestrias
            </label>

            <label for="reafirmanteSenos" class="radio">
                <input  name="tratamiento" id="reafirmanteSenos" type="radio" />Reafirmante de Senos
            </label>

            <label for="reductivoReafirmante" class="radio">
                <input  name="tratamiento" id="reductivoReafirmante" type="radio" />Reductivo y Reafirmante
            </label>

        </div>
        
    </div>

    <!--<div id="calendario" class="col-md-7">
        <div class="form-group">
            <h4>2.- Seleccione una fecha y hora:</h4>
            <div class="row">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>-->

    <div class="form-group" class="col-md-7">
        <label for="dtp_input1" class="control-label">2.- Elija fecha y hora: </label>
        <!--<div class="input-group date form_datetime col-md-5" data-date="2016-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">-->
        <div class="input-group date form_datetime col-md-5" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="dtp_input1" value="" /><br/>
    </div>
</div>
<div class="row">
    <h4 class="col-md-12">3.- Seleccione usuario:</h4>
</div>