    <div class="container">
    	<section class="col-md-4 col-md-offset-4">                
    	        <form class="form-horizontal"  enctype="multipart/form-data" novalidate method="post" action="?ctl=editar" onsubmit="return validaEditar()" >
                    <div class="form-group">
    <label class="control-label" for="nombre">Nombre(s):</label>
    <input  class="form-control" id="nombre" name="nombre" type="text" onfocus="quitarErrorClass('nombre')" value="{NOMBRE}"/>
</div>

<div class="form-group">
    <label class="control-label" for="apellidop">Apellido Paterno:</label>
    <input  class="form-control" id="apellidop" name="apellidop" type="text" onfocus="quitarErrorClass('apellidop')" value="{APELLIDOP}"/>
</div>

<div class="form-group">
    <label class="control-label" for="apellidom">Apellido Materno:</label>
    <input  class="form-control" id="apellidom" name="apellidom" type="text" onfocus="quitarErrorClass('apellidom')" value="{APELLIDOM}"/>
</div>



<div class="form-group">
    <label class="control-label" for="domicilio">Dirección:</label>
    <input  class="form-control" id="domicilio" name="domicilio" type="text" onfocus="quitarErrorClass('domicilio')" value="{DOMICILIO}"/>
</div>

<div class="form-group">
    <label class="control-label" for="numexterior">Número Exterior:</label>
    <input  class="form-control" id="numexterior" name="numexterior" type="number" max="99999" onfocus="quitarErrorClass('numexterior')" value="{NUMEXT}"/>
</div>

<div class="form-group">
    <label class="control-label" for="numerointerior">Número Interior:</label>
    <input  class="form-control" id="numerointerior" name="numerointerior" type="number" max="99999" onfocus="quitarErrorClass('numerointerior')" value="{NUMINT}"/>
</div>

<div class="form-group">
    <label class="control-label" for="colonia">Colonia:</label>
    <input  class="form-control" id="colonia" name="colonia" type="text" onfocus="quitarErrorClass('colonia')" value="{COLONIA}"/>
</div>

<div class="form-group">
    <label class="control-label" for="municipio">Municipio:</label>
    <input  class="form-control" id="municipio" name="municipio" type="text" onfocus="quitarErrorClass('municipio')" value="{MUNICIPIO}"/>
</div>

<div class="form-group">
    <label class="control-label" for="estado">Estado:</label>
    <input  class="form-control" id="estado" name="estado" type="text" onfocus="quitarErrorClass('estado')" value="{ESTADO}"/>
</div>

<div class="form-group">
    <label class="control-label" for="telefono">Teléfono:</label>
    <input  class="form-control" id="telefono" name="telefono" type="tel" onfocus="quitarErrorClass('telefono')" value="{TELEFONO}"/>
</div>

<div class="form-group">
    <label class="control-label" for="fechanacimiento">Fecha de nacimiento:</label>
    <input id="fechanacimiento" class="form-control"  name="fechanacimiento" type="date" min="1916-01-01" step="1" onfocus="quitarErrorClass('fechanacimiento')" value="{FECHA}"/>
</div>

<div class="form-group">
    <label class="control-label" for="imgperfil">Imagen de perfil </label>
    <input id="imgperfil" name="imgperfil" class="input-file" type="file" accept="image/*" >
</div>

                    <button type="submit" id="registro" class="btn btn-default">EDITAR</button>
            </div>        	
        </section>

    </div>