    <footer>
        <div class="container">
            <div class="text-footer col-xs-4">
                <span class="text-footer">Zacatecas Norte #118, Unión de Tula, Jalisco.</span><br>
                <span class="text-footer">Tel. (316) 371-000</span><br>
                <span class="text-footer">Copyright &copy; Cosmetología Guadalajara</span>
            </div>
            <div class="text-footer col-xs-6">
                <ul class="list-inline">
                    <li>
                        <a id="privacidad" href="#">Aviso de privacidad</a>
                    </li>
                    <li>
                        <a id="terminos" href="#">Terminos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/a7xAriadna"><img  src="www/images/face.png"/></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/a7xariadna"><img src="www/images/twitter.png"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>



    <script>
        $(document).ready(function(){
            $("#btnBuscar").click(function(){
                alert("Click boton búsqueda");
            });

            $("#btnAgendarCita").click( function(){
                alert("Aquí se valida que el usuario haya o no entrado ya. Si está adentro mandar al calendario, sino al registro");
            });

        });
    </script>
</body>
</html>