<!-- Div Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-caption">
                    <h2 class="caption-text">Tratamientos Faciales</h2> 
                </div>
                <figure class="caption-figure">                                
                    <img src="www/images/chica_flor.jpg" alt="Tratamientos Faciales">
                </figure>
            </div>
            <div class="item">
                <div class="carousel-caption">
                    <h2 class="caption-text">Tratamientos Corporales</h2>    
                </div>
                <figure class="caption-figure">                                
                    <img src="www/images/Limpieza Facial.jpg" alt="Tratamientos Corporales">
                <figure>
            </div>
            <div class="item">
                <div class="carousel-caption">
                    <h2 class="caption-text">Promociones</h2>                
                </div>
                <figure class="caption-figure">                                
                    <img src="www/images/Masaje.jpg" alt="Promociones">  
                </figure>
                
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="icon-prev"></span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>