
    <div class="container">
        <nav class="row navbar container-fluid" id="perfilAdmin">
            <ul class="nav navbar-nav">
                <li><a href="?ctl=perfilAdmin&nav=principal">Mi Perfil</a></li>
                <li><a href="?ctl=perfilAdmin&nav=usuarios">Usuarios</a></li>
                <li><a href="?ctl=perfilAdmin&nav=citasAdmin">Mis Citas</a></li>
                <li><a href="?ctl=perfilAdmin&nav=calendarioAdmin">Agendar Citas</a></li>
            </ul>
        </nav>
        
        <div class="row">
            <div class="col-md-4">
                <figure><img src="www/images/cosmetologia-gdl-30px.png" /></figure>
            </div>
            <div class="col-md-6">
                <h3>{{USERNAME}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{CONTENT}}
            </div>
        </div>
    </div>

</body>
</html>