    
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nosotros</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.php">Inicio</a>
                    </li>
                    
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="www/images/piel750.jpg" alt="Tratamientos-Faciales" name="Cosmetología-Guadalajara-jalisco">
            </div>
            <div class="col-md-6">
                <h2>Nuestra Historia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Nuestra Misión</h2>
                <p>Brindar servicios de caliad con calidez humana y atención especializada en forma personalizada.</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Nuestra Visión</h2>
                <p>Optimizar los servicios de forma más especializada con las técnicas más avanzadas y los mejores productos del mercado que permitan ampliar la cartera de clientes y la plena satisfacción de los mismos.</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Nuestros Valores</h2>
                <p>
                    <ul>
                        <li>Respeto</li>
                        <li>Honestidad</li>
                        <li>Discresión</li>
                        <li>Amabilidad</li>
                    </ul>
                </p>
            </div>
        </div>

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestro equipo</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="www/images/DianaRojas.jpg" alt="">
                    <div class="caption">
                        <h3>Diana Rojas<br>
                            <small>Cosmetóloga</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="www/images/DianaRojas.jpg" alt="">
                    <div class="caption">
                        <h3>Ariadna Rojas<br>
                            <small>Co-Administradora del Sitio Web</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="www/images/DianaRojas.jpg" alt="">
                    <div class="caption">
                        <h3>Sandra Machuca<br>
                            <small>Co-Administradora del Sitio Web</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    </div>
                </div>
            </div>
        </div>    
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestros Productos</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p1.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p2.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p3.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p4.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p6.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="www/images/p1.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

    </div>
