<div class="container">
    <nav class="row navbar container-fluid" id="perfilAdmin">
        <ul class="nav navbar-nav">
            <li><a href="?ctl=miPerfil&nav=principal">Mi Perfil</a></li>
            <li><a href="?ctl=miPerfil&nav=historial">Mi Historial</a></li>
            <li><a href="?ctl=miPerfil&nav=citasUsuario">Mis Citas</a></li>
            <li><a href="?ctl=miPerfil&nav=calendarioUsuario">Agendar Citas</a></li>
        </ul>
    </nav>
    
    <div class="row">
        <div class="col-md-12">
            {{CONTENT}}
        </div>
    </div>
</div>