<div class="row">
  <div class="col-md-4">
  	<img  id="PerfilIMG" src="www/images/Usuarios/{imgPerfil}" alt="perfil">
  </div>
  <div class="col-md-8">
  	<div class="panel panel-default" id="panelPerfil">
	  	<div class="panel-heading" id="panelPerfiltitulo">
	    	<h3 class="panel-title">{NOMBRECOMPLETO}</h3>
	  	</div>
	  	<div class="panel-body">
	    	<div class="col-md-12">
				<h4>Domicilio: </h4>
				<p>
					{DOMICILIO}
				</p>
		  	</div>
	  		<div class="col-md-12">
				<h4>Fecha de Nacimiento: </h4>
				<p>
					{FECHA}
				</p>
		  	</div>
		  	<div class="col-md-12">
				<h4>Teléfono: </h4>
				<p>
					{TELEFONO}
				</p>
		  	</div>
		  	<div class="col-md-12">
				<h4>Mail: </h4>
				<p>
					{CORREO}
				</p>
		  	</div>
	  	</div>
	</div>
  </div>
</div>

