    
    <div class="container col-md-4">
    	<section class="row">
    		<div class="col-lg-4">
        	</div>
    		<div class="col-lg-4">	
    	        <h1 class="page-header">Registro</h1>
    	
    	        <form class="form-horizontal" method="post" onsubmit="" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="nombre">Nombre(s):</label>
                        <input class="form-control" id="nombre" name="nombre" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="apellidop">Apellido Paterno:</label>
                        <input class="form-control" id="apellidop" name="apellidop" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="apellidom">Apellido Materno:</label>
                        <input class="form-control" id="apellidom" name="apellidom" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" id="sexo">Selecciona tu sexo:</label>
                    </div>

                    <div class="form-group">

                        <label for="f" class="radio-inline">
                            <input name="sexo" id="f" type="radio" />Femenino
                        </label>

                        <label for="m" class="radio-inline">
                            <input name="sexo" id="m" type="radio" />Masculino
                        </label>

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="direccion">Dirección:</label>
                        <input class="form-control" id="direccion" name="direccion" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="numexterior">Número Exterior:</label>
                        <input class="form-control" id="numexterior" name="numexterior" type="number" max="99999" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="numerointerior">Número Interior:</label>
                        <input class="form-control" id="numerointerior" name="numerointerior" type="number" max="99999" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="localidad">Localidad:</label>
                        <input class="form-control" id="localidad" name="localidad" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="municipio">Municipio:</label>
                        <input class="form-control" id="municipio" name="municipio" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="estado">Estado:</label>
                        <input class="form-control" id="estado" name="estado" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="telefono">Teléfono:</label>
                        <input class="form-control" id="telefono" name="telefono" type="tel" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fechanacimiento">Fecha de nacimiento:</label>
                        <input class="form-control" id="fechanacimiento" name="fechanacimiento" type="date" min="1916-01-01" value="1999-09-09" step="1"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="mail">E-mail:</label>
                        <input class="form-control" id="mail" name="mail" type="email" />
                    </div>

                    <div class="form-group">
                          <label class="col-md-4 control-label" for="imgperfil">Imagen de perfil</label>
                          <div class="col-md-6">
                            <input id="imgperfil" name="imgperfil" class="input-file" type="file" accept="image/*" >
                          </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pss1">Ingresa tu contraseña:</label>
                        <input class="form-control" id="pss1" name="pss1" type="password" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pss2">Repite tu contraseña:</label>
                        <input class="form-control" id="pss2" name="pss2" type="password" />

                    </div>

                    <button type="submit" id="registro" class="btn btn-default">Registrarme</button>
                </form>
            </div>
        	
        </section>

    </div>

    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    <script>
        
        $(document).ready( function(){
            $("#registro").click(function(){
                //alert("click registro bonjour");
                var pss1 = document.getElementById("pss1").value;
                var pss2 = document.getElementById("pss2").value;

                alert(pss1 + "    " + pss2);
                if(pss1 === pss2)
                {
                    var hash = CryptoJS.SHA1(pss1);
                    document.getElementById("pss1").value = hash ;
                    document.getElementById("pss2").value = hash ;

                    alert(hash);
                }
                else
                {
                    alert("Pos diferentes y asi");
                }
                
            });

        });
        
        

    </script>