    
    <div class="container">
    	<section class="row">
    		<div class="col-lg-4">
        	</div>
    		<div class="col-lg-4">	
	        <h1 class="page-header">Registro</h1>
	
	        <form class="form-horizontal" novalidate method="post" action="?ctl=principal&Registro=true" onsubmit="return validaRegistro()">
                {{FORMUSUARIO}}
                <button type="submit" id="registro" class="btn btn-default">Registrarme</button>
            </form>
            </div>
        	
        </section>

    </div>

   