/**Estilos Generales**/
@media handheld {
    footer{
        
    }

}
body{
	margin-top: 5em;
    padding-top:10px 0;
    padding-bottom:0;
}
/**Imagenes del Carrusel**/
.caption-figure img{
	min-width: 1700px;
	height:500px;
}
.carousel-inner{
	margin:0 auto;
}
.galeria img{
	width: 350px;
	height:250px;
}
.galeria figcaption{
	color: #337ab7;
	cursor: pointer;
	text-align:center;
	text-decoration:none;
	padding: .5em 0;
}
.galeria img:hover{
	opacity:0.5;
}
a figcaption:hover{
	color:#27AE60;
	text-decoration: none;
}
/** Menu Principal **/
/*Header*/
header{
    color: #000;
}
nav{
    background-color: #2E9AFE;
}

ul.dropdown-menu li a:hover{
    background-color: #A5539E;
    color: #fff;
}

ul.nav li:hover{
    background-color: #A5539E;
    color: #fff;
}

nav ul li a{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E7D8E5;
    background-color: transparent;
}


/** Footer **/
#container{
    background-color: #F2F4F4;
    color: #000;
}


footer{
    margin-top: 3em;
	  text-align: left;
    background-color: #A5539E;
    height: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
    z-index: auto;
    overflow: scroll;
}
.left{
	float: left;
}
.clear{
	clear: both;
}


.text-footer{
    padding-left: 2em;
    color: #E7D8E5;
    font-weight: bold;
    text-align: center;
}

#terminos, #privacidad{
    color: #E7D8E5;
    font-weight: bold;
}
#terminos:hover, #privacidad:hover{
    color: #FFF;
    font-weight: bold;
}


/*Botones*/
.btn{
    background-color: #A5539E;
    color:#E7D8E5;

}

.glyphicon-search{
    background: url("/images/glyphicons-28-search.png");

}

a{
  color: black;
}
/*Enlaces*/
a:hover{
    color:#A5539E;
    text-decoration: none;
}

.fa:hover{
    color:#A5539E;
}

.caption-figure img{
    width: 1800px;
    height: 400px;
}

/*Menus de perfiles*/
a span{
    text-indent: 20px;
}

/*navs*/
.row{
    margin-top: 20px;
}

.menuAdmin .btn-default{
    position: relative;
    left: 900px;
}


.error{
    border: 3px solid #d9534f;
}

.requerido{
    color : #d9534f;
}
p.requerido{
  color: #d9534f;
  text-align: left;
  margin-bottom: 1em;
  margin-left: -14px;
}

/* Un bloque que ocupe toda la pantalla y contendrá nuestra modal... */
#modalContent{
   position: absolute;
   top:50%;
   left:50%;
   z-index:6;
   margin:-2% 0px 0px -150px;
   float:left;
   width:300px;
   color:#fff;
   line-height:22px;
   padding:15px;
   border-radius:5px;
   border:1px solid #fff;
   box-shadow:0px 2px 1px #999;
   background-color: #a5539e;
}

/* Un botón de cerrar para no despistar al usuario */
#modalContent > button{
   position:absolute;
   top:-4px;
   right:-4px;
   color:black;
   border-radius:2px;
   background:#fff;
   padding:4px;
}

button#registro{
  margin-left: 75%;
}