/**Estilos Generales**/
@media handheld {
    footer{
        
    }

}
body{
	margin-top: 5em;
    padding-top:10px 0;
    padding-bottom:0;
}
/**Imagenes del Carrusel**/
.caption-figure img{
	min-width: 1700px;
	height:500px;
}
.carousel-inner{
	margin:0 auto;
}
.galeria img{
	width: 350px;
	height:250px;
}
.galeria figcaption{
	color: #337ab7;
	cursor: pointer;
	text-align:center;
	text-decoration:none;
	padding: .5em 0;
}
.galeria img:hover{
	opacity:0.5;
}
a figcaption:hover{
	color:#27AE60;
	text-decoration: none;
}
/** Menu Principal **/
/*Header*/
header{
    color: #000;
}
nav{
    background-color: #2E9AFE;
}

ul.dropdown-menu li a:hover{
    background-color: #A5539E;
    color: #fff;
}

ul.nav li:hover{
    background-color: #33A5D0;
    color: #fff;
}

nav ul li a{
    color: #fff;
}
/** Footer **/
#container{
    background-color: #F2F4F4;
    color: #000;
}


footer{
    margin-top: 3em;
	text-align: left;
    background-color: #A5539E;
    height: 8em;
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
    z-index: auto;
    overflow: scroll;
}
.left{
	float: left;
}
.clear{
	clear: both;
}


.text-footer{
    padding-left: 2em;
    color: #E7D8E5;
    font-weight: bold;
    text-align: center;
}

#terminos, #privacidad{
    color: #E7D8E5;
    font-weight: bold;
}

/*Botones*/
.btn{
    background-color: #A5539E;
    color:#E7D8E5;

}

.glyphicon-search{
    background: url("/images/glyphicons-28-search.png");

}

/*Enlaces*/
a:hover{
    color:#A5539E;
}

.fa:hover{
    color:#A5539E;
}

.caption-figure img{
    width: 1800px;
    height: 400px;
}

/*Menus de perfiles*/
a span{
    text-indent: 20px;
}

/*navs*/
.row{
    margin-top: 20px;
}

.menuAdmin .btn-default{
    position: relative;
    left: 900px;
}


